<!-- FOOTER -->
<footer>
     <div class="container">
          <div class="row">

               <div class="col-md-5 col-sm-6">
                    <h2>M&S Group GmbH</h2>
                    <p>Klosterstraße 30-32<br>67547 Worms <br>{{ 'footer.COUNTRY' | translate }}</p>
               </div>

               <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                         <h2>{{ 'footer.TOUCH' | translate }}</h2>
                         <p><a href="tel:+4915206060067">+49 1520 6060067</a></p>
                         <p><a href="mailto:info@msgroup-germany.de">info&#64;msgroup-germany.de</a></p>
                         <p><a href="https://www.google.de/maps/place/M%26S+Group+GmbH+(Schweisstechnik%26Bauhandel)/@49.6208634,8.3563551,17z/data=!3m1!4b1!4m6!3m5!1s0x47962d72de008eb9:0x25cc58c33fd50514!8m2!3d49.62086!4d8.35893!16s%2Fg%2F11h4f9ckm2?entry=ttu&g_ep=EgoyMDI1MDQxNi4xIKXMDSoASAFQAw%3D%3D"
                                   target="_blank">{{ 'footer.LOCATION' | translate }}</a></p>
                         <ul class="social-icon">
                              <li><a href="#" class="fa fa-linkedin"></a></li>
                              <li><a href="#" class="fa fa-instagram"></a></li>
                              <li><a href="#" class="fa fa-whatsapp"></a></li>
                         </ul>
                    </div>
               </div>

               <div class="col-md-3 col-sm-12">

                    <h2>{{ 'footer.LEGAL' | translate }}</h2>
                         <a routerLink="/impressum" >{{ 'footer.IMPRESS' | translate }}</a><br>
                         <a routerLink="/privacy">{{ 'footer.PRIVACY' | translate }}</a>
               </div>

               <div class="clearfix"></div>

               <div class="col-md-12 col-sm-12">
                    <div class="copyright-text">
                         <p>&copy; {{ currentYear }} M&S Group Germany
                    </div>
               </div>

          </div>
     </div>
</footer>