<section class="welding-technique">
    <h2>{{ 'welding.HEADLINE' | translate }}</h2>
    <p>
      {{ 'welding.DESCRIPTION_1' | translate }}
    </p>
  
    <h3>{{ 'welding.HEADLINE_2' | translate }}</h3>
    <ul>
      <li>{{ 'welding.LIST_1' | translate }}</li>
      <li>{{ 'welding.LIST_2' | translate }}</li>
      <li>{{ 'welding.LIST_3' | translate }}</li>
      <li>{{ 'welding.LIST_4' | translate }}</li>
      <li>{{ 'welding.LIST_5' | translate }}</li>
      <li>{{ 'welding.LIST_6' | translate }}</li>
    </ul>
  
    <h3>{{ 'welding.HEADLINE_3' | translate }}</h3>
    <p>{{ 'welding.DESCRIPTION_2' | translate }}</p>
  
    <h3>{{ 'welding.HEADLINE_4' | translate }}</h3>
    <ul>
      <li>{{ 'welding.LIST_2_1' | translate }}</li>
      <li>{{ 'welding.LIST_2_2' | translate }}</li>
      <li>{{ 'welding.LIST_2_3' | translate }}</li>
      <li>{{ 'welding.LIST_2_4' | translate }}</li>
    </ul>

    <ul class="section-btn">
        <a routerLink="/"class="smoothScroll"><span [attr.data-hover]="'welding.BACK' | translate">{{ 'welding.BACK' | translate }}</span></a>
   </ul>
  </section>

  <app-contact-formular></app-contact-formular>
  
