<!-- ABOUT -->
<section id="about" class="parallax-section">
    <div class="container">
         <div class="row">

              <div class="col-md-offset-1 col-md-10 col-sm-12">
                   <div class="about-info">
                        <h3 data-aos="fade-right">Über uns</h3>
                        <h1 data-aos="fade-left">Als erfahrener Bauhändler bieten wir Ihnen hochwertige Produkte für Bau- und Renovierungsprojekte. Unser Sortiment umfasst Betonglätter, Zubehör, Folien und Betonmörtel – alles aus erstklassigen Materialien.

                         Wir legen großen Wert auf Qualität, schnelle Lieferung und umfassende Beratung, um Ihre Bauvorhaben effizient und erfolgreich umzusetzen. Vertrauen Sie auf unsere Expertise und lassen Sie sich von uns als zuverlässigem Partner für Ihre Bauprojekte unterstützen.</h1>
                   </div>
              </div>

         </div>
    </div>
</section>
<app-products></app-products>
