<!-- ABOUT -->
<section id="about" class="parallax-section">
    <div class="container">
         <div class="row">

              <div class="col-md-offset-1 col-md-10 col-sm-12">
                   <div class="about-info">
                        <h3 data-aos="fade">{{ 'about.HEADLINE' | translate }}</h3>
                        <h1 data-aos="fade">{{ 'about.TEXT' | translate }}</h1>
                   </div>
              </div>

         </div>
    </div>

</section>
<app-image-slider></app-image-slider>
<app-products></app-products>
