@import '../../styles.scss';

.nav-center {
    align-items: center;
}

.nav-link {
    cursor: pointer;
}

.navbar-logo {
  filter: brightness(0) invert(1);
}

.cart-overlay {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 400px;
    width: 500px;
    height: 100%;
    background-color: #fff;
    box-shadow: -4px 0 12px rgba(0,0,0,0.2);
    z-index: 1031;
    padding: 20px;
    overflow-y: auto;
  }

  .cart-wrapper {
    position: relative;

    i{
         cursor: pointer;
    }
  }

  a{
    cursor: pointer;
  }
  .margin-r-0 {
    margin-right: 0 !important;
  }

  .cart-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #d9534f; /* Bootstrap "danger" */
    color: white;
    font-size: 9px;
    padding: 3px 5px;
    border-radius: 50%;
    cursor: pointer;
  }

  @media screen and (max-width:510px) {
    .cart-overlay {
      width: 100% !important;
      min-width: unset;
    }
  }

  @keyframes slow-fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  .fade-in {
    opacity: 0; /* Startzustand */
    animation: slow-fade-in 1.5s ease-in forwards;
  }