@import '../../styles.scss';

.nav-center {
    align-items: center;
}

.nav-link {
    cursor: pointer;
}

.cart-overlay {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 400px;
    width: 500px;
    height: 100%;
    background-color: #fff;
    box-shadow: -4px 0 12px rgba(0,0,0,0.2);
    z-index: 1031;
    padding: 20px;
    overflow-y: auto;
  }
  