<section id="home" class="parallax-section">
    <div class="overlay"></div>
    <div class="container">
         <div class="row">

              <div class="col-md-8 col-sm-12">
                   <div class="home-text">
                        <h1>M&S GROUP Germany</h1>
                        <p>Ihr Vertriebspartner für Baumaschinen</p>
                        <ul class="section-btn">
                             <a href="#about" class="smoothScroll"><span data-hover="Metallbau">Metallbau</span></a>
                             <a href="#about" class="smoothScroll"><span data-hover="Bauhandel">Bauhandel</span></a>
                        </ul>
                   </div>
              </div>

         </div>
    </div>

     <!-- PRE LOADER -->
     <div class="preloader">
          <div class="spinner">
               <span class="sk-inner-circle"></span>
          </div>
     </div>

    <!-- Video -->
    <video #videoPlayer autoplay loop muted playsinline>
        <source src="videos/video.mp4" type="video/mp4">
        Dein Browser unterstützt das Video-Tag nicht.
    </video>
</section>
<app-about></app-about>