<button class="close-button" (click)="closeCart()">×</button>
<div class="cart-container">
    <div class="cart-header">
      <h2 class="cart-title">Dein Warenkorb</h2>
    </div>
  
    @if (cartItems.length > 0) {
      <div>
        @for (item of cartItems; track $index) {
          <div class="cart-item">
            <img [src]="item.image" alt="{{ item.id }}" class="item-image" />
  
            <div class="item-details">
              <h3 class="item-name">{{ item.name }}</h3>
              <small class="item-name">{{ item.id }}</small>
              <!-- <p class="item-price">€{{ item.price.toFixed(2) }}</p> -->
  
              <div class="item-quantity">
                <button (click)="decrease(item)">−</button>
                <span>{{ item.quantity }}</span>
                <button (click)="increase(item)">+</button>
              </div>
            </div>
  
            <button (click)="remove(item)" class="remove-button">Entfernen</button>
          </div>
        }
  
        <div class="cart-total">

          <!--<p>Gesamt: <strong>€{{ total.toFixed(2) }}</strong></p> -->

          <button class="checkout-button" (click)="showOverlay = true">Preis Anfragen</button>
        </div>
      </div>
    } @else {
      <p class="empty-message">Dein Warenkorb ist leer.</p>
    }
  </div>

  @if(showOverlay) {
    <div class="overlay-backdrop">
        <div class="overlay-container animate">
          <h2>Angebot anfordern</h2>
          <form (ngSubmit)="submit()" #form="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                id="name"
                type="text"
                [(ngModel)]="name"
                name="name"
                required
                placeholder="Name"
              />
            </div>
            <div class="form-group">
              <label for="email">E-Mail</label>
              <input
                id="email"
                type="email"
                [(ngModel)]="email"
                name="email"
                required
                placeholder="E-Mail"
              />
            </div>
            <div class="button-group">
              <button type="button" class="btn cancel" (click)="closeOverlay()">Abbrechen</button>
              <button type="submit" class="btn submit" [disabled]="form.invalid">Preis Anfragen</button>
            </div>
          </form>
        </div>
      </div>
  }

  