<button class="close-button" (click)="closeCart()">×</button>
<div class="cart-container">
    <div class="cart-header">
      <h2 class="cart-title">Dein Warenkorb</h2>
    </div>
  
    @if (cartItems.length > 0) {
      <div>
        @for (item of cartItems; track $index) {
          <div class="cart-item">
            <img [src]="item.image" alt="{{ item.id }}" class="item-image" />
  
            <div class="item-details">
              <h3 class="item-name">{{ item.name }}</h3>
              <small class="item-name">{{ item.id }}</small>
              <!-- <p class="item-price">€{{ item.price.toFixed(2) }}</p> -->
  
              <div class="item-quantity">
                <button (click)="decrease(item)">−</button>
                <span>{{ item.quantity }}</span>
                <button (click)="increase(item)">+</button>
              </div>
            </div>
  
            <button (click)="remove(item)" class="remove-button">Entfernen</button>
          </div>
        }
  
        <div class="cart-total">

          <!--<p>Gesamt: <strong>€{{ total.toFixed(2) }}</strong></p> -->

          <button class="checkout-button" (click)="sendOrderConfirmation()">Preis anfragen</button>
        </div>
      </div>
    } @else {
      <p class="empty-message">Dein Warenkorb ist leer.</p>
    }
  </div>
  