<section>
  @if (brandProducts.length > 0) {
    @for (product of brandProducts; track $index) {
      <div class="karte">
        <img [src]="product.image" />
        <div class="karte-content">
          <h2>{{ product.name }}</h2>
          <p>{{ product.description || 'Kein Beschreibungstext verfügbar.' }}</p>
        </div>
        <div class="karte-footer">
          <h3>Preis Anfragen</h3>
          <button>Kaufen</button>
        </div>
      </div>
    }
  } @else {
    <p>Keine Produkte für "{{ selectedBrand }}" gefunden.</p>
  }
</section>
