
  <section>
    <select [(ngModel)]="selectedCategory" class="category-select">
      <option value="">{{'products_page.CATEGORIES' | translate}}</option>
      <option *ngFor="let category of uniqueCategories" [value]="category">
        {{ category }}
      </option>
    </select>
    @if (filteredProducts.length > 0) {
      <div class="main-card-container">
          @for (product of filteredProducts; track $index) {
            <div class="karte">
              <img [src]="product.image" />
              <div class="karte-content">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description_items || 'Kein Beschreibungstext verfügbar.' }}</p>
              </div>
              <div class="karte-footer">
                <button (click)="openModal(product)">Details</button>
              </div>
            </div>
          }
      </div>
    } @else {
      <p>Produkte werden geladen...</p>
    }
  </section>


<!-- Produkt-Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-fullscreen-custom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{selectedProduct?.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Schließen" (click)="removeHashFromUrl()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
            <!-- Bild -->
            <div class="col-md-5">
              <img style="width: 300px; height: 200px; object-fit: contain;" src="{{selectedProduct?.image}}" alt="Produktbild" class="img-fluid">
            </div>

            <!-- Beschreibung & Auswahl -->
            <div class="col-md-7 modal-description">
              <p>
                {{selectedProduct?.description_items}}
              </p>

              <!-- Drop Down Variante-->
              @if (selectedProduct?.models?.length) {
                <div class="form-group">
                  <label for="produktVariante">{{'products_page.VARIANT' | translate}}</label>
                  <select class="form-control" id="produktVariante" [(ngModel)]="selectedVariant" name="produktVariante" (change)="resetQuantity()">
                    @if(selectedProduct.models.length == 0) {
                      <option value="Standard">{{selectedProduct?.name}}</option>
                  }
                    @for (model of selectedProduct.models; track $index) {
                        <option [ngValue]="model">
                          {{ getFirstValue(model) }}
                        </option>
                      }
                  </select>
                </div>
              } @else {
                <div class="form-group">
                  <label for="produktVariante">{{'products_page.VARIANT' | translate}}</label>
                  <select class="form-control" id="produktVariante" [(ngModel)]="selectedVariant" name="produktVariante" (change)="resetQuantity()">
                    <option [ngValue]="selectedVariant">{{selectedProduct?.name}}</option>
                  </select>
                </div>
              }
              
          <!-- Menge anpassen und Warenkorb-Button nebeneinander -->
          <div class="d-flex align-items-center justify-content-between mt-3">
              <div class="quantity-controls d-flex align-items-center">
                <button class="btn btn-secondary" (click)="decreaseQuantity()">-</button>
                <input type="number" class="form-control mx-2" [(ngModel)]="quantity" [min]="1" />
                <button class="btn btn-secondary" (click)="increaseQuantity()">+</button>
                <button class="btn btn-success" (click)="addToCart(selectedVariant, quantity, selectedProduct)">
                  <i class="fa fa-shopping-cart"></i> 
                </button>
              </div>
          </div>
            </div>
        </div>

        <!-- Tabelle zu den Modellen -->
        <hr class="my-4">

        <h5>{{ 'products_page.MODEL' | translate }}</h5>
        <div class="table-responsive" *ngIf="selectedProduct?.models?.length">
          <table class="table table-bordered table-striped model-table">
            <thead class="thead-dark">
              <tr>
                @for (key of getModelKeys(); track key) {
                  <th>{{ formatKey(key) }}</th>
                }
              </tr>
            </thead>
            <tbody>
              @for (model of selectedProduct.models; track $index) {
                <tr>
                  @for (key of getModelKeys(); track key) {
                    <td>{{ model[key] }}</td>
                  }
                </tr>
              }
            </tbody>
          </table>
        </div>

        <!-- Video Section -->
        @if (selectedBrand === 'somero' && selectedProduct?.video) {
          <hr class="my-4">
          <div class="video-section">
            <h5>Produktvideo</h5>
            <div class="video-wrapper">
              <iframe 
                width="100%" 
                height="500"
                [src]="selectedProduct?.video | safe" 
                frameborder="0"
                allowfullscreen>
              </iframe>
            </div>
          </div>
        }

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="removeHashFromUrl()">{{'products_page.CLOSE' | translate}}</button>
      </div>
    </div>
  </div>
</div>

