@import "../../styles.scss";


.product-title {
    background-color: #fff;
    font-size: 14px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 200px;
    text-align: center;
}

#project {
    padding-top: 100px;
}
