@import "../../styles.scss";


.product-title {
    background-color: #fff;
    font-size: 14px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 200px;
    text-align: center;
}

#project {
    padding-top: 100px;
    padding-bottom: 200px;
}

.project-item {
    border-radius: 1px;
    box-shadow:  0 10px 25px rgba(0, 0, 0, 0.5);
}
